html {
    font-size: 62.5%; /* 10px */
}

body {
    font-size: 1.6rem;
    position: relative;
}

html, body {
    margin: 0;
    padding: 0;
    background: #4f5961;
    width: 100%;
    height: 100%;
}

.container-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.widget {

}

.container__top {
    float: left;
    clear: both;
    width: 390px;
    height: 330px;
    background: #f2f9f9;
    border-radius: 10px 10px 0 0;
    padding: 20px 0 20px 20px;
    box-sizing: border-box;
}

.top {
    width: 100%;
    height: 100%;
    position: relative;
}

.top__refresh {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    margin: 0 20px 0 0;
    transition: all .3s;
}

.top__refresh:hover {
    transform: rotate(340deg);
    transform-origin: center;
}

.logo {
    height: 70%;
    width: 100%;
    float: left;
    clear: both;
    text-align: center;
    margin: 0 0 25px 0;
}

.logo__svg {
    color: #788388;
    width: 145px;
    padding: 35px 0 0 0;
}

.top__weather {
    height: 30%;
    width: 100%;
    float: left;
    clear: both;
}

.weather__degrees {
    float: left;
    font: 5.8rem proxima_novalight;
    color: #8d9396;
    width: 15%;
    margin: 0 40px 0 0;
    box-sizing: border-box;
}

.weather__info {
    float: left;
    width: 45%;
    margin: 0 20px 0 0;
    padding: 6px 0 0 0;
}

.info__desc {
    font: 2.4rem open_sanslight;
    color: #bac2c6;
}

.info__location {
    font: 1.4rem open_sansbold;
    color: #a2a9ad;
}

.weather__date {
    float: right;
    font: 1.4rem open_sansbold;
    color: #fff;
    width: 9%;
    text-align: center;
    background: #54bae6;
    padding: 15px;
}

.container__bottom {
    float: left;
    clear: both;
    width: 390px;
    height: 140px;
    background: #2a3032;
    border-radius: 0 0 10px 10px;
    padding: 40px 40px 20px 40px;
    box-sizing: border-box;
}

.bottom__indicators {
    float: left;
    clear: both;
    width: 100%;
    text-align: center;
    line-height: 22px;
    list-style: none;
    padding: 0;
    margin: 0 0 35px 0;
}

.indicators__value {
    font: 1.4rem proxima_novabold;
    color: #fff;
    margin: 0 30px 0 0;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

.indicators__logo:last-child, .indicators__value:last-child {
    margin: 0;
}

.indicators__logo {
    margin: 0 15px 0 0;
    display: inline-block;
    vertical-align: middle;
}

#logo-wind {
    width: 25px;
    height: 18px;
}

#logo-humidity {
    width: 16px;
    height: 20px;
}

#logo-sun {
    width: 21px;
    height: 21px;
}

.bottom__points {
    float: left;
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    color: #525a5d;
}

.points__item {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 0 10px 0 0;
    background: transparent;
    border: 2px solid #525a5d;
    cursor: pointer;
    transition: all .3s;
}

.points__item:last-child {
    margin: 0;
}

#active-point, .points__item:hover {
    background: #fff;
    border: 2px solid #fff;
}